<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Service Log Form</h2><br>
  <h4>List of computers for maintenance</h4>           
  <table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>MAC</th>
	        <th>CPU</th>
	        <th>RAM</th>
	        <th>HDD</th>
	        <th>Optical drive</th>
	        <th>OS</th>
	        <th>Purchase date</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Dell</td>
	        <td>112233</td>
	        <td>5th Gen</td>
	        <td>8 Gb</td>
	        <td>1 tb</td>
	        <td>External DVD</td>
	        <td>Window 10</td>
	        <td>12.2.2015</td>
	      </tr>
	      <tr>
	        <td>Lenovo</td>
	        <td>112233</td>
	        <td>5th Gen</td>
	        <td>8 Gb</td>
	        <td>1 tb</td>
	        <td>External DVD</td>
	        <td>Window 10</td>
	        <td>12.2.2015</td>
	      </tr>
	      <tr>
	        <td>Acer</td>
	        <td>112233</td>
	        <td>5th Gen</td>
	        <td>8 Gb</td>
	        <td>1 tb</td>
	        <td>External DVD</td>
	        <td>Window 10</td>
	        <td>12.2.2015</td>
	      </tr>
	      <tr>
	        <td>View Sonic</td>
	        <td>112233</td>
	        <td>5th Gen</td>
	        <td>8 Gb</td>
	        <td>1 tb</td>
	        <td>External DVD</td>
	        <td>Window 10</td>
	        <td>12.2.2015</td>
	      </tr>
	      <tr>
	        <td>HP</td>
	        <td>112233</td>
	        <td>5th Gen</td>
	        <td>8 Gb</td>
	        <td>1 tb</td>
	        <td>External DVD</td>
	        <td>Window 10</td>
	        <td>12.2.2015</td>
	      </tr>
	      
	    </tbody>
  </table><br>
  <div class="row">
  	<div class="col-md-6">
  		<h4>Service receiver</h4>
  		<div class="form-group">
  			<ul class="list-group">
			  <li class="list-group-item">Name</li>
			  <li class="list-group-item">Designation</li>
			  <li class="list-group-item">Organization</li>
			</ul>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<h4>Service provider</h4>
  		<ul class="list-group">
			<li class="list-group-item">Name</li>
			<li class="list-group-item">Designation</li>
			<li class="list-group-item">Organization</li>
		</ul>
  	</div>
  </div>
</div>
</body>
</html>
