<% if alert %>
  <div class="message">
    <div class="custom_error_message">
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-info-sign"></span>
          <strong><%= alert %></strong>
      </div>
    </div>
  </div>
<% end %>

<% if notice %>
  <div class="message">
    <div class="custom_error_message">
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span class="glyphicon glyphicon-info-sign"></span>
          <strong><%= notice %></strong>
      </div>
    </div>
  </div>
<% end %>