<div class="container">
	<nav class="navbar navbar-dark bg-inverse">
		<ul class="nav navbar-nav clearfix">
			<!-- <li class="nav-item">
				<button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-contrls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">&#9776:</button>
			</li> -->
		</ul>
		<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Organization', organizations_url %></li>
				<li><%= link_to 'Machine', machines_url %></li>
				<li><%= link_to 'People', people_url %></li>
			</ul>
		</div>
	</nav>
</div>

